@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color:#F2F2F2;
    font-family:'Lato',sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    padding: 0;
    padding-top: 1px;
    padding-left: 83px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 3.75rem;
}

.logo img {
    max-width: 238px;
    height: auto;

}

.opciones ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.opciones li {
    padding-left: 50px;
}

.opciones a {
    text-decoration: none;
    color:#09244B;
    font-weight: bold;
    font-size: 18px;
    line-height: 21.6px;
}

.opciones a:hover {
    text-decoration: underline;
} 

#breadcrumbs {
    display: flex;
    background-color: white;
    align-items: center;
    width: auto;
    height: 4rem;
    text-align: center;
}

#breadcrumbs a {
    text-decoration: none;
}

h2 {
    color: #CC00FF;
    font-size: 32px;
}
.campos1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: left;
}

label {
    width: 818px;
    text-align: left;
    color:#09244B;
    font-size: 24px;
}

.campos1 input {
    width: 818px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

::placeholder {
    font-family:'Lato', sans-serif;
    font-weight: 580;
    color: #09244b7e;
    padding-left: 5px;
    font-size: 20px;
}

#personaje {
    margin-top: 4rem;
    margin-bottom: 7rem;
}

.arquetipos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arquetipos button {
    width: 223px;
    height: auto;
    padding: 0;
    background: none;
    cursor: pointer;
    padding-bottom: 30px;
    margin: 5px;
    border: none;
    margin-right: 23px;
}

.arquetipos img {
    width: 223px;
    height: auto;
    margin: 0;
    margin-bottom: 1rem;
}

p {
    font-family:'Lato', sans-serif;
    font-size: 20px;
    color: #09244B;
    text-align: center;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 3.75rem;
    margin-top: 6rem;
}

