@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color:#F2F2F2;
    font-family:'Lato',sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    padding: 0;
    padding-top: 1px;
    padding-left: 83px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 3.75rem;
    border-bottom: 1px solid #09244B;
}

.logo img {
    max-width: 238px;
    height: auto;
}

.opciones ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.opciones li {
    padding-left: 50px;
}

.opciones a {
    text-decoration: none;
    color:#09244B;
    font-weight: bold;
    font-size: 18px;
    line-height: 21.6px;
}

.opciones a:hover {
    text-decoration: underline;
} 

#breadcrumbs {
    display: flex;
    background-color: white;
    align-items: center;
    width: auto;
    height: 4rem;
    text-align: center;
    padding-left: 36%;
    margin-bottom: 55px;
}

#breadcrumbs a {
    text-decoration: none;
}

h2 {
    color: #CC00FF;
    font-size: 32px;
}

hr {
    width: 70%;
    background-color:#09244b2a;
    height: 4px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.campos1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: left;
}

.campos2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: left;
}

h3 {
    color: #CC00FF;
    font-size: 24px;
    width: 818px;
    text-align: left ;
    padding-left: 15px;
}

.campos1 h2 {
    margin-bottom: 40px;
}

#elementos {
    margin-top: 10px;
    margin-bottom: 40px;
}

#crea {
    margin-top: 20px;
    margin-bottom: 35px;
}

label {
    width: 818px;
    text-align: left;
    color:#09244B;
    font-size: 24px;
    padding-left: 15px;
    margin-top: 15px;
}

label .asterisk {
    color: #CC00FF;
}

input {
    width: 818px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

select {
    width: 818px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

::placeholder {
    font-family:'Lato', sans-serif;
    font-weight: 580;
    color: #09244b7e;
    padding-left: 5px;
    font-size: 20px;
}

option {
    font-family:'Lato', sans-serif;
    font-weight: 580;
    color: #09244b7e;
    padding-left: 5px;
    font-size: 20px;
}

#personaje {
    margin-top: 4rem;
}

.arquetipos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arquetipos h3 {
    margin-bottom: 7rem;
}

.arquetipos button {
    width: 223px;
    height: auto;
    padding: 0;
    background: none;
    cursor: pointer;
    padding-bottom: 30px;
    margin: 5px;
    border: none;
    margin-right: 23px;
}

.arquetipos img {
    width: 223px;
    height: auto;
    margin: 0;
    margin-bottom: 1rem;
}

p {
    font-family:'Lato', sans-serif;
    font-size: 20px;
    color: #09244B;
    text-align: center;
    margin: 0;
    padding: 0;
}

.submit {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitBtn {
    width: 210px;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 6px;
    cursor: pointer;
    border: none;
    color: #F2F2F2;
    background-color: #5D00B9;
    transition: box-shadow 0.3s;
}

#submitBtn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.308); /* Agrega una sombra al pasar el cursor por encima */
}

#submitBtn:active {
    background-color: #09244B; /* Cambia el color del botón al hacer clic */
}

footer {
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 3.75rem;
    margin-top: 6rem;
    border-top:1px solid #09244B;
}

.iconos {
    padding: 20px;
    margin-right: 25px;
}

#zoom,
#youtube,
#linkedin,
#email {
    padding-left: 10px;
}

