@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    color:#9A9A9A;
    font-family:'Lato',sans-serif;
}

header {
    display: flex;
    border-bottom: 2px solid #D9D9D9;
    padding: 7px; /* Añade espacio interno para el contenido dentro del borde */
}

.texto {
    border-bottom: 2px solid #D9D9D9;
    padding: 0;
  }

.texto h3 {
    margin:10px;
}

.logo img {
    width: 140px;
    height: auto;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.campos input {
    width: 450px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

::placeholder {
    font-family:'Lato', sans-serif;
    font-weight: 580;
    color: #9A9A9A;
    padding-left: 5px;
}

.arquetipos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arquetipos button {
    text-align: left;
    vertical-align: top;
    padding: 0;
    background: none;
    cursor: pointer;
    padding-bottom: 30px;
    margin: 5px;
    border-color: #00000027; /* Color del borde con opacidad */
    border-width: 1px; /* Ancho del borde (ajusta según tus necesidades) */
    border-style: solid;
}

.arquetipos img {
    vertical-align: top;
    width: 150px;
    height: auto;
    margin: 0;
    padding: 0;
}

p {
    font-family:'Lato', sans-serif;
    color: #9A9A9A;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-top: 5PX;
}



