#storytelling {
    width: 1068px;
    height: 409px;
    resize: none;
    margin-top: 5rem;
    border-radius: 1%;
    border-color: rgb(165, 161, 161);
}

#copy {
    width: 1068px;
    height: 246px;
    resize: none;
    margin-top: 5rem;
    border-radius: 1%;
    border-color: rgb(165, 161, 161);
}

::placeholder {
    padding-left: 40px;
    padding-top: 20px;
    font-family:'Lato', sans-serif;
    font-weight: 580;
    font-size: 20px;
    color: #09244b7e;
}

.caracteres {
    width: 1068px;
    font-family:'Lato', sans-serif;
    font-size: 20px;
    color: #09244b7e;
    text-align: left;
    margin: 0;
    padding: 0;
}

#submitBtn2 {
    margin-bottom: 20rem;
}









